body {
  margin: 0;
  font-family: "Biryani";
  object-fit: cover;
  background: url(/img/Photo.png) center no-repeat;
  background-size: cover;
  width: 1440px;
  height: 803px;
  opacity: 1;
  z-index: 1;
}

.header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.header__inner {
  border-bottom: 10px;
  display: flex;
  align-items: flex-start;
}

.header__logo {
  font-family: Biryani;
  font-size: 40px;
  font-weight: 700;
  color: #160647;
  border-bottom: 10px;
}

.nav {
  font-size: 14px;
  display: flex;
  align-items: space-evenly;
}

.nav_link {
  margin: 0 15px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: rgba(22, 6, 71, 1);
}

.intro__title {
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  color: rgba(22, 6, 71, 1);
  text-align: center;
  margin-top: 300px;
}

.intro__description {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: rgba(108, 108, 108, 1);
  margin-bottom: 100px;
}

.header__button {
  width: 83px;
  height: 28px;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(242, 46, 82, 1);
}
.header__button__text {
  font-weight: 400;
  font-size: 10px;
  padding-left: 10px;
  color: rgba(255, 255, 255, 1);
}

.login__button {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  color: rgba(22, 6, 71, 1);
}

.get_started__button {
  background-color: rgba(71, 190, 186, 1);
  width: 160px;
  height: 60px;
  border-radius: 5px 5px 5px 5px;
}

.get_started {
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
  padding-bottom: 20px;
  color: rgba(22, 6, 71, 1);
}

.login {
  font-size: 16px;
  font-weight: 500;
  color: rgba(22, 6, 71, 1);
}

.nav {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: left;
  color: #ffffff;
}

.get_started__btn {
  background-color: rgba(71, 190, 186, 1);
  width: 162px;
  height: 57px;

  border-radius: 5px 5px 5px 5px;

  gap: 10px;
}
.how_it_works__btn {
  width: 173px;
  height: 57px;
  border-radius: 5px 5px 5px 5px;

  background-color: rgba(242, 46, 82, 1);
}
